@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: bold;
	font-weight: 800;
	src: local('Roboto-Bold'), url(Roboto/Roboto-Bold.ttf);
}

body {
	margin: 0;
	background: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 75%);
	font-family: 'Roboto', Geneva, Verdana, sans-serif;
}

.interactive {
	margin: 15px;
}

h1 {
	padding: 5px;
	border: 1px solid hsl(0, 0%, 40%);
	border-radius: 5px;
}

h2 {
	padding: 5px;
	border: 1px solid hsl(0, 0%, 30%);
	border-radius: 5px;
	background:  hsl(130, 20%, 20%);
}

a:visited {
	color: white;
	text-decoration: none;
}

a {
	color: white;
	text-decoration: none;
}

.slot {
	display: table-cell;
	width: 250px;
	height: 320px;
}

.slot .head {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 1px 10px;
	background: hsl(0, 0%, 60%);
}

.slot .body {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid hsl(0, 0%, 60%);
	background: hsl(0, 0%, 20%);
	min-height: 200px;
	text-align: center;
	vertical-align: middle;
	padding: 3px 2px;
}

.slot .body img {
	max-height: 220px;
	max-width: 220px;
}